.primaryButton {
    border-radius: 20px;
    box-shadow: black 1px 2px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    background-color: #fff;

    &:hover {
        background-color: #eee;
    }
}

